*{
    font-size: 24px;     
}


}

/* #head1 {
    text-align: center; 
    color: blueviolet;
    text-align: center; */
      

}
.title {
    font-size: 2rem;
    margin: 2rem;
    
}
/* #image {
    border: 2;
    padding: 0%;
    max-height: %100;
    min-width: %100;
} */